body {
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#graph {
    border-radius: 5px;
    border-color: rgb(75, 75, 75);
    border-style: solid;
    border-width: 1px;

    background-color: #f0f0f0;
    cursor: crosshair;
}


.node {
    cursor: grab;
}
