html {
  font-family: Geologica, Arial, Helvetica, sans-serif;

  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  font-family: Geologica, Arial, Helvetica, sans-serif;

  background-color: #F4F4F4;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;

  margin-top: 65px;
}